<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.appcategory.AppCategoryMapper">
	<select id="getAppCategoryByParentId" resultType="AppCategory" parameterType="string">
		SELECT * FROM app_category
		<if test="parentId !=null and parentId!=''">
			where parentId=#{parentId}
		</if>
		<if test="parentId==null">
			where parentId is null
		</if>
	</select>
</mapper>